venv/
**/__pycache__/
models/dtr1/*
models/dtr2/*
models/dtr3/*

!models/dtr1/facial-wash.pkl
!models/dtr2/facial-wash.pkl
!models/dtr3/facial-wash.pkl
!models/dtr1/toner.pkl
!models/dtr2/toner.pkl
!models/dtr3/toner.pkl
!models/dtr1/serum-essence.pkl
!models/dtr2/serum-essence.pkl
!models/dtr3/serum-essence.pkl
!models/dtr1/cream-1.pkl
!models/dtr2/cream-1.pkl
!models/dtr3/cream-1.pkl
!models/dtr1/lotion-emulsion.pkl
!models/dtr2/lotion-emulsion.pkl
!models/dtr3/lotion-emulsion.pkl
!models/dtr1/sun-protection-1.pkl
!models/dtr2/sun-protection-1.pkl
!models/dtr3/sun-protection-1.pkl

!models/dtr1/
!models/dtr2/
!models/dtr3/
