<form method="post" enctype="multipart/form-data">
    <input type="file" name="dataset" id="dataset">
    <select id="tag" name="tag">
        <option value="facial-wash">Facial Wash</option>
        <option value="toner">Toner</option>
        <option value="serum-essence">Serum</option>
        <option value="cream-1">Moisturizer Cream</option>
        <option value="lotion-emulsion">Moisturizer Lotion</option>
        <option value="sun-protection-1">Sunscreen</option>
    </select>
    <button type="submit">Upload</button>
</form>
